.woocommerce .col2-set, .woocommerce-page .col2-set {
	display: flex;
    flex-wrap: wrap;
	margin-top: 50px;
}
.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1,
.woocommerce .col2-set .col-2, 
.woocommerce-page .col2-set .col-2 {
	float: none;
	flex-basis: 48%;
    display: flex;
    flex-direction: column;
}
.woocommerce .col2-set .col-1 h2,
.woocommerce .col2-set .col-2 h2 {
	font-size: 20px;
	margin-bottom: 0;
}
.woocommerce .col2-set .col-1, 
.woocommerce-page .col2-set .col-1 {
	margin-right: 4%;
}
.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register {
	height: 100%;
}